body,
html {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif !important;
  background: black !important;
  box-sizing: border-box;
}

.my-navbar {
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
}

a.nav-link {
  text-transform: uppercase !important;
  font-weight: 600 !important;
}

ul.my-nav-item {
  padding-left: 100px;
}

ul > li.nav-item {
  font-size: 12px;
  padding: 10px;
}

.hero {
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('../assets/main-bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(1); 
  box-shadow: 0 0 50px 1px rgb(0, 0, 0) inset;
}

h1.main-title {
  font-size: 96px;
  font-weight: 600;
  margin-top: 300px;
}

.subtitle {
  font-size: 36px;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}

.btn-play {
  padding-left: 10em !important;
  padding-right: 10em !important;
  font-size: 12px !important;
  font-weight: 800 !important;
  margin-top: 9%;
}

.scroll-down {
  font-size: 12px;
  font-weight: 600;
}

.games {
  height: 100vh;
  position: relative;
}

.games::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('../assets/the-games-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 50px 1px rgb(0, 0, 0);
}

.games-img {
  width: 80%;
  height: 100%;
  position: relative;
}

.games-text {
  font-size: 48px;
  letter-spacing: 2px;
}

.my-ellipse {
  position: absolute;
  margin-bottom: 8px;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


@media only screen and (max-width: 1360px) {

  h1.main-title {
    font-size: 76px;
    font-weight: 600;
    margin-top: 200px;
  }

  .subtitle {
    font-size: 36px;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
  }

  .btn-play {
    padding-left: 8em !important;
    padding-right: 8em !important;
    font-size: 12px !important;
    font-weight: 800 !important;
    margin-top: 5%;
  }

  hr {
    display: block !important;
    height: 1px !important;
    border: 0 !important;
    border-top: 1px solid #ccc !important;
    margin: 1em 0 !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  
  h1.main-title {
    font-size: 48px;
    font-weight: 600;
    margin-top: 150px;
  }

  .subtitle {
    font-size: 28px;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
  }

  .btn-play {
    padding-left: 6em !important;
    padding-right: 6em !important;
    font-size: 12px !important;
    font-weight: 800 !important;
    margin-top: 15%;
  }

  hr {
    display: block !important;
    height: 1px !important;
    border: 0 !important;
    border-top: 1px solid #ccc !important;
    margin: 1em 0 !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 400px) {

  h1.main-title {
    font-size: 36px !important;
    font-weight: 400;
  }

  .subtitle {
    font-size: 24px !important;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
  }
}